
<app-admin-header [CurrentNavigationPage]="'RolePage'"></app-admin-header>
<!-- Sidebar End -->

<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <!-- Navbar End -->

    <div class="Register CreatePool">
        <div class="card-body">
            
            <form [formGroup]="AddRoleForm" (ngSubmit)="addRole()">
                <div class="form-input">
                    <label class="form-label" for="Name">Role Name </label>
                    <input type="text" id="Name" class="form-control " formControlName="roleName">                    
                </div>
                <div *ngIf="(submitted)||AddRoleForm.controls['roleName'].invalid && AddRoleForm.controls['roleName'].touched">
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['required']">Role name is required</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['minlength']">Role name is too short</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['pattern'] && !AddRoleForm.controls['roleName'].errors?.['minlength']">Role name cannot contain numbers or symbols</span>
                </div>
                <div [hidden]="response.length==0">
                    <h6 class="alert alert-success" >{{response}}</h6>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-back" >add</button>
                </div>
            </form>
        </div>
    </div>
<app-footer></app-footer>