<!-- Sidebar Start -->
<app-admin-header ></app-admin-header>
<!-- Sidebar End -->
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
    <div class="Register CreatePool">
        <div class="card-body">
            <form [formGroup]="AddRoleForm" (ngSubmit)="addRole()">
                <div class="form-input">
                    <label class="form-label" for="Name">Role Name </label>
                    <input type="text" maxlength="15" [class.is-invalid]="(error.length)||(submitted)||AddRoleForm.controls['roleName'].invalid && AddRoleForm.controls['roleName'].touched" type="text" id="Name" class="form-control " formControlName="roleName">                    
                </div>
                <div *ngIf="(submitted)||AddRoleForm.controls['roleName'].invalid && AddRoleForm.controls['roleName'].touched">
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['required']">Role name is required</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['minlength']">Role name is too short</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['pattern'] && !AddRoleForm.controls['roleName'].errors?.['minlength']">Role name cannot contain numbers or symbols</span>
                </div>
                <div *ngIf="response.length!=0">
                    <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-back" >Add</button>
                </div>
                <div >
                    <h3 class="text-center text-danger" >{{error}}</h3>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer Start  -->
    <app-footer [BackBtn]=true></app-footer>
    <!-- Footer End  -->
</div>