
<app-admin-header [CurrentNavigationPage]="'LocationPage'"></app-admin-header>
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
        <!-- Navbar End -->
        <div class="container">
            <div class="Login">
                <div class="card-body">
                    <h2 class="text-uppercase text-center">ADD LOCATION</h2>
                    <form #form="ngForm" (ngSubmit)="addLocation()">
                        <div class="Location">
                            <div class="form-input">
                                <label class="form-label" for="Location Name">Location Name </label>
                                <input type="text" id="Name" class="form-control" name="locationName" [(ngModel)]="_locationName">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-back" (click)="addLocation()">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
</div>