<app-interviewer-header></app-interviewer-header>
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top py-0">
        <div class="sidebar-toggler flex-shrink-0  collapse-btn ">
            <i class="fa fa-bars fa-bar"></i>
        </div>
        <div class="page-title">
            <h2>Home</h2>
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="row">
        <div class="col-12 col-sm-6 text-center text-sm-start">
            <h4 style="text-align: left;">List of Location</h4>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-end">
            <button class="button-admin button1-admin">Add Location</button></a>
        </div>
    </div>
    <div class=" justify-content-center ">

        <div class="location-admin ">
            <p>
            <h6>CHENNAI<div class="location1-admin"></a><button class="button-admin button1-admin mx-5"><i
                            class="fa-solid fa-trash"></i></button></h6>
            </p>
        </div>
        <div class="location-admin ">
            <p>
            <h6>ILLINOIS<div class="location1-admin"></a><button class="button-admin button1-admin mx-5"><i
                            class="fa-solid fa-trash"></i></button></h6>
            </p>
        </div>
        <div class="location-admin ">
            <p>
            <h6>HYEDRABAD<div class="location1-admin"></a><button class="button-admin button1-admin mx-5"><i
                            class="fa-solid fa-trash"></i></button></h6>
            </p>
        </div>
        <div class="location-admin ">
            <p>
            <h6>PUNE<div class="location1-admin"></a><button class="button-admin button1-admin mx-5"><i
                            class="fa-solid fa-trash"></i></button></h6>
            </p>
        </div>
        <div class="location-admin ">
            <p>
            <h6>DUBAI<div class="location1-admin"></a><button class="button-admin button1-admin mx-5"><i
                            class="fa-solid fa-trash"></i></button></h6>
            </p>
        </div>
    </div>
    <app-footer></app-footer>
