<app-tac-header></app-tac-header>
<div class="content">
    <app-navbar [title]="title"></app-navbar>
    <div class="grey-bg container-fluid ">
        <section id="minimal-statistics">
            <section class="wrapper-dashboard d-flex align-items-center ">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center" >
                        <div class="col-xs-12 col-sm-4">
                            <a [routerLink]="['/tac/dashboard/scheduled-drive-history']" class="link">
                                <div class="card-card">
                                        <img class="img-card" src="./assets/Images/ScheduledHistory.jpg" />
                                    <div class="card-content">
                                        <h1 class="card-title">
                                            {{ScheduledDrives}}
                                        </h1>
                                        <h2 class="">Scheduled Drives </h2>
                                        <p>Just take a look at all scheduled drive for your reference</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--section 2-->
                        <div class="col-xs-12 col-sm-4">
                            <a [routerLink]="['/tac/dashboard/cancelled-drive-history']" class="link">
                                <div class="card-card">
                                    <img class="img-card" src="./assets/Images/CancelledHistory.jpg" />
                                    <div class="card-content">
                                        <h1 class="card-title">
                                            {{CancelledDrives}}
                                        </h1>
                                        <h2 class="">
                                            Cancelled Drives
                                        </h2>
                                        <p>Just take a look at all cancelled drive and reasons for your reference</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <app-footer></app-footer>
</div>