<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <div class="background-img-register1">
        <div class="Register">
            <div class="card-body">
                <form [formGroup]="CreateInviteForm" (ngSubmit)="CreateInvite()">
                    <div class="form-input">
                        <label class="form-label" for="fromDate">From Date</label>
                        <input type="date"
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['fromDate'].invalid && CreateInviteForm.controls['fromDate'].touched"
                            name="fromDate" id="fromDate" class="form-control " formControlName="fromDate" (change)="toDateEnabler(CreateInviteForm.controls['fromDate'].value)"
                            [min]="minDate|date:'yyyy-MM-dd'" [max]="maxDate|date:'yyyy-MM-dd'">
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['fromDate'].invalid && CreateInviteForm.controls['fromDate'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['fromDate'].errors?.['required']">Choose a
                            Date</span>
                    </div>
                    <div class="form-input">
                        <label class="form-label" for="toDate">To Date</label>
                        <input type="date"
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['toDate'].invalid && CreateInviteForm.controls['toDate'].touched"
                            name="toDate" id="toDate" class="form-control " formControlName="toDate"
                            [min]="CreateInviteForm.controls['fromDate'].value" [max]="toDate|date:'yyyy-MM-dd'">
                    </div>
                    <div *ngIf="(submitted)||CreateInviteForm.controls['toDate'].invalid &&
                        CreateInviteForm.controls['toDate'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['toDate'].errors?.['required']">Choose a
                            Date</span>
                    </div>
                    <div class="form-input">
                        <label class="form-label" for="driveName"> Drive Name</label>
                        <input type="text"
                            [class.is-invalid]="(error.length)||(submitted)||CreateInviteForm.controls['driveName'].invalid && CreateInviteForm.controls['driveName'].touched"
                            type="text" id="driveName" class="form-control " formControlName="driveName">
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['driveName'].invalid && CreateInviteForm.controls['driveName'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['driveName'].errors?.['required']">Drive name is
                            required</span>
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['driveName'].errors?.['minlength']">Drive name is
                            too
                            short</span>
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['driveName'].errors?.['pattern'] && !CreateInviteForm.controls['driveName'].errors?.['minlength']">Drive
                            name cannot contain numbers or symbols</span>
                    </div>
                    <div class="form-input">
                        <label class="form-label " for="departmentId">Department</label>
                        <select
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['departmentId'].invalid && CreateInviteForm.controls['departmentId'].touched"
                            name="departmentId" id="departmentId" class="form-select" formControlName="departmentId" (change)="poolEnabler()">
                            <option value="">Select the Department</option>
                            <option *ngFor="let item of departmentDetails" value={{item.departmentId}}>
                                {{item.departmentName}} </option>
                        </select>
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['departmentId'].invalid && CreateInviteForm.controls['departmentId'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['departmentId'].errors?.['required']">Choose a
                            Department</span>
                    </div>
                    <div class="form-input">
                        <label class="form-label " for="poolId">Pool</label>
                        <select
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['poolId'].invalid && CreateInviteForm.controls['poolId'].touched"
                            name="poolId" id="poolId" class="form-select " formControlName="poolId">
                            <option value="">Select the Pool</option>
                            <option
                                *ngFor="let item of poolDetails| filter:CreateInviteForm.controls['departmentId'].value "
                                value={{item.poolId}}>
                                {{item.poolName}} </option>
                        </select>
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['poolId'].invalid && CreateInviteForm.controls['poolId'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['poolId'].errors?.['required']">Choose a
                            Pool</span>
                    </div>
                    <div class="form-input">
                        <label class="form-label " for="modeId">Mode</label>
                        <select
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['modeId'].invalid && CreateInviteForm.controls['modeId'].touched"
                            name="modeId" id="modeId" class="form-select " formControlName="modeId" (change)="locationEnabler()">
                            <option value="">Select the Mode</option>
                            <option value=1>Online</option>
                            <option value=2>Offline</option>
                        </select>
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['modeId'].invalid && CreateInviteForm.controls['modeId'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['modeId'].errors?.['required']">Choose
                            a Mode</span>
                    </div>

                    <div class="form-input">
                        <label class="form-label " for="locationId">Location</label>
                        <select
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['locationId'].invalid && CreateInviteForm.controls['locationId'].touched"
                            name="locationId" id="locationId" class="form-select " formControlName="locationId">
                            <option value="">Select the Location</option>
                            <option *ngFor="let item of locationDetails" value={{item.locationId}}>
                                {{item.locationName}} </option>
                        </select>
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['locationId'].invalid && CreateInviteForm.controls['locationId'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['locationId'].errors?.['required']">Choose a
                            Pool</span>
                    </div>

                    <div class="form-input">
                        <label class="form-label " for="slotTiming">Slot Timing</label>
                        <select
                            [class.is-invalid]="(submitted)||CreateInviteForm.controls['slotTiming'].invalid && CreateInviteForm.controls['slotTiming'].touched"
                            name="slotTiming" id="slotTiming" class="form-select " formControlName="slotTiming">
                            <option value="">Select the Timing</option>
                            <option value=0.5>30 MINS</option>
                            <option value=1>1 HOUR</option>
                            <option value=1.5>1 HOUR 30 MINS</option>
                        </select>
                    </div>
                    <div
                        *ngIf="(submitted)||CreateInviteForm.controls['slotTiming'].invalid && CreateInviteForm.controls['slotTiming'].touched">
                        <span class="text-danger"
                            *ngIf="CreateInviteForm.controls['slotTiming'].errors?.['required']">Choose a Slot
                            Timing</span>
                    </div>
                    <div class="Login-btn">
                        <a><button class="btn btn-filter" type="submit">CREATE</button></a>
                    </div>
                    <div *ngIf="response.length!=0">
                        <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                    </div>
                    <div>
                        <h3 class="text-center text-danger">{{error}}</h3>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>