<div class="sidebar  d-flex flex-column justify-content-between">
    <nav class="navbar bg-custom navbar-dark">
        <div class="user-profile">
            <div>
                <img src="./assets/Images/profile_.png" class="profile-img" alt="">
            </div>
            <p class="username">TAC</p>
        </div>


        <div class="navbar-nav w-100">
            <a [routerLink]="['../tac-home']" [ngClass]="IsHomePage?'active':''" class="nav-item nav-link active "><i class="fa fa-home"></i> Home</a>
            <a [routerLink]="['../tac-profile']" [ngClass]="IsProfilePage?'active':''" class="nav-item nav-link"><i class='fa fa-user-circle'></i> Profile</a>
            <a [routerLink]="['../TAC-dashboard']" [ngClass]="IsDashboardPage?'active':''" class="nav-item nav-link"><i class="fa fa-info-circle"></i> Dashboard</a>
            <a [routerLink]="['../managepool']" [ngClass]="IsManagePoolPage?'active':''" class="nav-item nav-link"><i class="fa fa-user-tie"></i> Manage
                Pool</a>
            <a [routerLink]="['../create-invite']"[ngClass]="IsCreateInvitePage?'active':''" class="nav-item nav-link"><i class="fa fa-calendar-week"></i> Create
                Invite</a>                
        </div>
    </nav>
    <footer class="navbar navbar-light ">
        <div class="navbar-nav w-100">
            <a (click)="logout()" [routerLink]="['']" class="nav-item nav-link mb-md-2" id="logout"><i
                class="fa fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
    </footer>
</div>
<!-- Sidebar End -->

