<app-tac-header></app-tac-header>

<div class="content">

    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>


    <div>
        <div class="Register CreatePool">
            <div class="card-body">
                <form>
                    <div class="form-input">
                        <label class="form-label" for="Name">Department</label>
                        <select name="Department" id="Department Name" class="form-select " name="dept"
                            [(ngModel)]="_dept">
                            <option value="">Select the Department</option>
                            <option *ngFor="let item of departmentDetails" value={{item.departmentName}}>
                                {{item.departmentName}} </option>
                        </select>
                    </div>
                    <div class="form-input">
                        <label class="form-label" for="Name">Pool Name </label>
                        <input type="text" id="Name" class="form-control " />
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-back">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>