/* Create Pool */
#CreatingPool {
    text-decoration: none;
    color: black;
  }
  
  #CreatingPool:hover {
    color: #38114b;
  }
  
  #CreateButton {
    font-size: large;
    margin-left: 6.3rem;
    text-decoration-color: #FFF;
    border-radius: 2px;
    background-color: #f9f9f9;
  }
  
  #CreateButton:hover {
    color: #38114b;
  }
  
  .dropdown {
    padding-left: 0.5rem;
  
  }
  
  #DepartmentName {
    padding-top: 0.5rem;
  }
  
  #CPdropdown {
    background-color: #b295c0;
    text-decoration-color: var(--light);
  }
  
  /* Create Pool Ends */