<div class="sidebar">
    <nav class="navbar bg-custom navbar-dark">
        <div class="user-profile">
            <div>
                <img src="CSS/Images/profile_.png" class="profile-img" alt="">
            </div>
            <p class="username">Username</p>
        </div>


        <div class="navbar-nav w-100">
            <a href="Home.html" class="nav-item nav-link active "><i class="fa fa-home"></i> Home</a>
            <a href="Profile.html" class="nav-item nav-link"><i class='fa fa-user-circle'></i> Profile</a>
            <a href="DashBoard.html" class="nav-item nav-link"><i class="fa fa-info-circle"></i> Dashboard</a>
            <a href="ManagePools.html" class="nav-item nav-link"><i class="fa fa-user-tie"></i> Manage
                Pool</a>
                <a href="DriveInvites.html" class="nav-item nav-link"><i class="fa fa-calendar-week"></i>
                    Drive Invites</a>
            <a href="CreateInvite.html" class="nav-item nav-link"><i class="fa fa-calendar-week"></i> Create
                Invite</a>                
        </div>
    </nav>
    <footer class="navbar navbar-light sticky-footer ">
        <div class="navbar-nav w-100">
            <a href="Login.html" class="nav-item nav-link mb-md-2" id="logout"><i
                    class="fa fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
    </footer>
</div>
<!-- Sidebar End -->

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top py-0">
        <div class="sidebar-toggler flex-shrink-0  collapse-btn ">
            <i class="fa fa-bars fa-bar"></i>
        </div>
        <div class="page-title">
            <h2>Home</h2>
        </div>
    </nav>
