<app-tac-header></app-tac-header>
<div class="content">
    <app-navbar [title]="title"></app-navbar>
    <div class="grey-bg container-fluid ">
        <section id="minimal-statistics">
            <section class="wrapper-dashboard d-flex align-items-center ">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-xs-12 col-sm-4">
                            <!-- <a [routerLink]="['/management/management-dashboard/myperformance']" class="link"> -->
                                <div class="card-card">
                                    <img  class="img-card" src="./assets/Images/Upcoming.jpg" />
                                    <div class="card-content">
                                        <!-- <h1 class="card-title">
                                        {{ScheduledDrives}}
                                    </h1> -->
                                        <h2 class="">My Performance </h2>
                                        <p>View your Performance</p>
                                    </div>
                                </div>
                            </div>


                            <!-- </a> -->

                            <!--section 2-->
                            <div class="col-xs-12 col-sm-4">
                                <!-- <a [routerLink]="['/management/management-dashboard/poolmembersperformance']" class="link"> -->
                                <div class="card-card">
                                    <img  class="img-card" src="./assets/Images/TeamPerformance.jfif" />
                                    <div class="card-content">
                                        <!-- <h1 class="card-title">
                                {{CancelledDrives}}
                            </h1> -->
                                        <h2 class="">
                                            My Pool's Performance
                                        </h2>
                                        <p>View your pool members' Performance </p>
                                    </div>
                                </div>
                                <!-- </a> -->
                            </div>
                        
                    </div>
                </div>>

            </section>
        </section>
    </div>
    <app-footer></app-footer>
    <!-- </div> -->