<div class="background-img-login">

    <div class="Login">
        <div class="card-body">
            <h1 class="text-center title">INTERVIEW MANAGEMENT SYSTEM</h1>
            <h2 class="text-center">LOGIN</h2>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <br>
                <div class="form-input">
                    <label class="form-label" for="EmailID">Email ID</label>
                    <input
                        [class.is-invalid]="(error.toString().includes('mail')||submitted && loginForm.controls['EmailID'].invalid)||loginForm.controls['EmailID'].invalid && loginForm.controls['EmailID'].touched"
                        id="EmailID" type="text" placeholder="Email ID" formControlName="EmailID" class="form-control">
                </div>
                <div
                    *ngIf="(submitted)||loginForm.controls['EmailID'].invalid && loginForm.controls['EmailID'].touched">
                    <span class="text-danger" *ngIf="loginForm.controls['EmailID'].errors?.['required']">Email ID is
                        required</span>
                    <span class="text-danger" *ngIf="loginForm.controls['EmailID'].errors?.['pattern']">Please enter a
                        valid email with aspire domain</span>
                    <span *ngIf="error.toString().includes('ACE')" class="text-danger">{{error}}</span>
                </div>

                <div class="form-input">
                    <label class="form-label" for="Password">Password</label>
                    <input
                        [class.is-invalid]="(error.toString().includes('Password')||submitted && loginForm.controls['Password'].invalid)||loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched"
                        id="Password" type="password" placeholder="Password" formControlName="Password"
                        class="form-control">
                </div>
                <div
                    *ngIf="(submitted)||loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched">
                    <span class="text-danger" *ngIf="loginForm.controls['Password'].errors?.['required']">Password is
                        required</span>
                    <span *ngIf="error.toString().includes('Password')" class="text-danger">{{error}}</span>
                </div>
                <div *ngIf="loading" diameter="40" class="spinner">
                </div>
                <div *ngIf="isCommanError" class="span12 text-center">
                    <span class="text-center text-danger">{{error}}</span>
                </div>

                <div class="Login-btn">
                    <button class="btn btn-create mb-3" type="submit">Log in </button>
                </div>


                <div class="d-flex align-items-center justify-content-center pb-4 register">
                    <p class="text-center mb-0 me-2">Don't have an account?</p>
                    <a routerLink="/register">Create new</a>
                </div>
            </form>
        </div>
    </div>
</div>