<div class="Login">
    <div class="card-body">
        <h2 class="text-uppercase text-center">LOGIN</h2>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <br>
            <p>Please login to your account</p>
            <div class="form-input">
                <label class="form-label" for="ACE Number">ACE Number </label>
                <input type="text" id="Name"  class="form-control form-control-lg" name="aceNumber" [(ngModel)]="user.ACENumber"/>
            </div>
            <div class="form-input">
                <label class="form-label" for="Password">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" name="password" [(ngModel)]="user.Password" />
            </div>

            <div class="Login-btn">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
            </div>
            <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Don't have an account?</p>
                <a href="Register.html" ><button type="button" class="btn btn-outline-danger">Create new</button></a>
            </div>

        </form>
    </div>
</div>