<app-admin-header></app-admin-header>
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top py-0">
        <div class="sidebar-toggler flex-shrink-0  collapse-btn ">
            <i class="fa fa-bars fa-bar"></i>
        </div>
        <div class="page-title">
            <h2>Add Department</h2>
        </div>
    </nav>

    <!-- Navbar End -->

    <div class="Register CreatePool">
        <div class="card-body">
            <form>
                
                <div class="form-input">
                    <label class="form-label" for="Name">Department Name </label>
                    <input type="text" id="Name" class="form-control " />
                </div>
              
                <div class="text-center">
                    <button type="button" class="btn btn-back">Create</button>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
