<app-interviewer-header [CurrentNavigationPage]="'DriveInvitesPage'"></app-interviewer-header>

<div class="content">
    <app-navbar [title]="title"></app-navbar>

    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <h3 class="card-title" id="cancelinvitealign"><b>{{Invites.driveName}}</b></h3>
                <div class="row rone mt-4">
                    <div class="col-md-6">
                        <p ><b>FROM DATE : </b> {{Invites.fromDate}}</p>
                        <p ><b>TO DATE : </b> {{Invites.toDate}}</p>                 
                        <p><b>INTERVIEW TIMING : </b>{{Invites.slotTiming}} minutes</p>
                    </div>
                    <div class="col-md-6">
                        <p ><b>MODE : </b> {{Invites.driveMode}}</p>
                        <p ><b>LOCATION : </b> {{Invites.driveLocation}}</p>
                    </div>
                </div>
                <div class="card mx-auto">
                    <div class="card-body">
                        <div class="row rone mt-4">
                            <div class="col-md-6">
                                <label class="text"><b>Availability</b></label>
                                <br>
                                <input type = "date" min="{{Invites.fromDate}}" max="{{Invites.toDate}}">
                            </div>
                                <div class="col-md-4">
                                    <label class="text"><b>Select Timing </b></label>
                                    <input type="time" class="form-control" id="appt" name="appt" min="09:00" max="18:00" required>
                                </div>

                                <div class="col-md-2 ">
                                    <a [routerLink]="['']"><button type="button" class="btn btn-back">Add</button></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [BackBtn]=true></app-footer>
</div>
