
<app-admin-header [CurrentNavigationPage]="'RolePage'"></app-admin-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <!-- Navbar End -->

    <div class="text-center">
        <a [routerLink]="['/admin/role/add']"><button type="button" class="btn btn-filter">Add Role</button></a>
    </div>

    <div class="mt-3 container shadow  bg-body rounded" *ngFor="let item of role| paginate: { itemsPerPage: 5, currentPage: page,totalItems:totalLength }">
        <div class>
            <div class="card-body">
                <div class="row rone ">
                    <div class="col-md-11" >
                        <h6>{{item.roleName}}</h6>
                    </div>
                    
                    <div class="col-md-1">
                        <div class="row">
                            <button (click)="removeRole(item.roleId)" class="btn"><i class="fa fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 ">
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>
    
    <app-footer></app-footer>
</div>