<app-interviewer-header [CurrentNavigationPage]="'DashboardPage'"></app-interviewer-header>

<!-- Sidebar End -->

<div class="content">
    
    <app-navbar [title]="title"></app-navbar>

    <div class="mt-5 container shadow p-3 mb-5 bg-body rounded" *ngFor="let item of Drives| paginate: { itemsPerPage: 2, currentPage: page,totalItems:totalLength }">
        <div class>
            <div class="card-body">
                <h3 class="card-title"><b>{{item.driveName}}</b></h3>
                <hr>
                <div class="row rone mt-4">
                    <div class="col-md-6">
                        <!-- <p ><b>ROLE : </b> {{item.role}}</p> -->
                        <p ><b>FROM DATE : </b> {{item.fromDate}}</p>
                        <p ><b>TO DATE : </b> {{item.toDate}}</p>
                        <p ><b>RESPONSE : </b> {{item.response}}</p>
                    </div>
                    <div class="col-md-6">
                        <!-- <p ><b>DEPARTMENT : </b>{{item.department}}</p> -->
                        <p ><b>MODE : </b> {{item.driveMode}}</p>
                        <p ><b>LOCATION : </b> {{item.driveLocation}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div >
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>

    <app-footer [BackBtn]=true></app-footer>

</div>

