<app-admin-header></app-admin-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <div class="mt-5 card-filter container shadow p-2 mb-5 bg-body rounded">
        <div class>
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-11 ">
                        <p class="text-muted"><b>DATE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10/04/2022</p>
                        <p class="text-muted"><b>NAME</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADAM </p>
                        <p class="text-muted"><b>ROLE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TAC </p>
                    </div>
                    <div class="col-md-1">
                        <div class="row mt- -2">
                            <button class="btn btn-success">Accept</button>
                        </div>
                        <div class="row mt-4">
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 card-filter container shadow p-2 mb-5 bg-body rounded">
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-11">
                        <p class="text-muted"><b>DATE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12/04/2022 </p>
                        <p class="text-muted"><b>NAME</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ROCK </p>
                        <p class="text-muted"><b>ROLE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TAC </p>
                    </div>
                    <div class="col-md-1">
                        <div class="row mt- -2">
                            <button class="btn btn-success">Accept</button>
                        </div>
                        <div class="row mt-4">
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>