<app-interviewer-header></app-interviewer-header>

<!-- Sidebar End -->

<div class="content">
    
    <app-navbar [title]="title"></app-navbar>

    <div class="mt-3 container shadow bg-body rounded" *ngFor="let item of Ignored| paginate: { itemsPerPage: 2, currentPage: page,totalItems:totalLength }">
        <div class>
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-4">
                        <p ><b>Drive Name : </b> {{item.DriveName}}</p>
                        <p ><b>Pool Name : </b> {{item.DrivePool}}</p>
                    </div>
                    <div class="col-md-4">
                        <p ><b>From Date : </b> {{item.FromDate}}</p>
                        <p ><b>To Date : </b> {{item.ToDate}}</p>
                    </div>
                    <div class="col-md-4">
                        <p ><b>Mode : </b> {{item.DriveMode}}</p>
                        <p ><b>Location : </b> {{item.DriveLocation}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>

    <app-footer [BackBtn]=true></app-footer>

</div>

