<app-admin-header></app-admin-header>

<div class="content">
    <app-navbar [title]="title"></app-navbar>
    <div class="Register CreatePool">
        <div class="card-body">
            <form #form="ngForm" (ngSubmit)="addDepartment()">
                
                <div class="form-input">
                    <label class="form-label" for="Name">Department Name </label>
                    <input type="text" id="Name" class="form-control " name="departmentName" [(ngModel)]="_department">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-back" (click)="addDepartment()">Create</button>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>