<app-interviewer-header></app-interviewer-header>

<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
    <section class="wrapper">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card" [routerLink]="['/interviewer/home/currentDrives']">
                            <img src="../../../assets/Images/Current.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title" >
                                Today's Interviews   
                            </h2>
                            <p class="">
                                View interviews scheduled for you today!
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card" [routerLink]="['/interviewer/home/scheduledDrives']">
                            <img src="../../../assets/Images/Scheduled.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title">
                                Scheduled Interviews
                            </h2>
                            <p class="">
                                View your scheduled interviews and plan your days !
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card " [routerLink]="['/interviewer/home/upcomingDrives']">
                            <img src="../../../assets/Images/Upcoming.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title">
                                Upcoming Interviews
                            </h2>
                            <p class="">
                                View all upcoming interviews!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>