<div class="sidebar d-flex flex-column justify-content-between">
    <nav class="navbar bg-custom navbar-dark">
        <div class="user-profile">
            <div>
                <img src="./assets/Images/profile_.png" class="profile-img" alt="">
            </div>
            <p class="username">Interviewer</p>
        </div>

        <div class="navbar-nav w-100">
            <a [routerLink]="['../interviewer-home']"class="nav-item nav-link"><i class="fa fa-home"></i> Home</a>
            <a [routerLink]="['../profile']" class="nav-item nav-link active"><i class='fa fa-user-circle'></i> Profile</a>
            <a [routerLink]="['../interviewer-dashboard']" class="nav-item nav-link"><i class="fa fa-info-circle"></i> Dashboard</a>
            <a [routerLink]="['../interviewer-driveInvites']" class="nav-item nav-link"><i class="fa fa-calendar-week"></i>Drive Invites</a>
        </div>
    </nav>
    <footer class="navbar navbar-light  ">
        <div class="navbar-nav w-100">
            <a [routerLink]="['../interviewer-home']" class="nav-item nav-link mb-md-2" id="logout"><i
                    class="fa fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
    </footer>
</div>
<!-- Sidebar End -->

<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row m-b-25"> <img src="/assets/Images/profile_.png" class="profile-img"
                        alt="User-Profile-Image">
                </div>
                <div class="row">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600"><b>INFORMATION</b></h6>

                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Name : {{profileDetails.employeeName}} </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">ACE-Number : {{profileDetails.employeeACEId}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Department : {{profileDetails.employeeDepartment}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Email ID : {{profileDetails.employeeEmailID}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Role : {{profileDetails.employeeRole}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>