<app-tac-header></app-tac-header>
 
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top py-0">
        <div class="sidebar-toggler flex-shrink-0  collapse-btn ">
            <i class="fa fa-bars fa-bar"></i>
        </div>
        <div class="page-title">
            <h2>Manage Pool Member</h2>
        </div>
    </nav>


    <!-- Navbar End -->
    <div class=" container shadow  bg-body rounded">
        <div class="mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="ACE Number">Department </label>
                        <select name="Department" id="Department Name" class="form-select ">
                            <option value="">Select the Department</option>
                            <option value=".Net">.Net</option>
                            <option value="Java">Java</option>
                            <option value="BFS">BFS</option>
                            <option value="LAMP">LAMP</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ACE Number">Pool </label>
                        <select name="Pool" id="Pool" class="form-select ">
                            <option value="">Select the Pool</option>
                            <option value="FRESHERS">FRESHERS</option>
                            <option value="TL">TL</option>
                            <option value="SSE">SSE</option>
                            <option value="SE">SE</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ACE Number">Role </label>
                        <select name="Pool" id="Pool" class="form-select ">
                            <option value="">Select the Role</option>
                            <option value="FRESHERS">FRESHERS</option>
                            <option value="TL">TL</option>
                            <option value="SSE">SSE</option>
                            <option value="SE">SE</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-filter filter">
                            Filter</button>
                    </div>
                
                <br>    
                <hr>
                
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ACE Number"> Search</label>
                        <input type="text" class="form-control " placeholder="Name or ACE ID">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-filter filter">
                            Search</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <div class=" container row AddMemberPool mt-5 justify-content-evenly">

        <div class="card  col-6 ml-5">
            <div class="">
                <h3 class="card-header text-cente">Search Results</h3>
                <div class="container my-box ">

                    <div class="card-body p-1 border-bottom" *ngFor="let item of data2">

                        <div class="d-flex justify-content-evenly align-items-center">
                            <div class="fw-bolder">{{item.ACE_Number}}</div>
                            <div class="fw-bolder">{{item.Name}}</div>
                            <div class="fw-bolder">{{item.Role}}</div>
                            <div><button class="btn btn-success btn-sm">+</button></div>
                        </div>

                    </div>
                     

                </div>
            </div>
        </div>
        

        <div class="card col-6 ">
            <div>
                <h3 class="card-header">Added Members</h3>
                <div class="container my-box">
                    <div class="card-body p-1 border-bottom" *ngFor="let item of data1">

                        <div class="d-flex justify-content-evenly align-items-center">
                            <div class="fw-bolder">{{item.ACE_Number}}</div>
                            <div class="fw-bolder">{{item.Name}}</div>
                            <div class="fw-bolder">{{item.Role}}</div>
                            <div><button class="btn btn-danger btn-sm">x</button></div>
                        </div>

                    </div>
                    
            </div>
        </div>  
</div>
</div>
</div>
</div>
<app-footer></app-footer>