<app-admin-header></app-admin-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- selection starts-->
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" [routerLink]="['../Admin-viewdepartment-page']">
                            <img src="./assets/Images/Profileicon.png" />
                        </a>
                        <div class="card-content" style="text-align:center ;">
                            <h4 class="card-title"><br>
                                Departments
                            </h4>
                            <p class="">
                                View the list of departments here !
                            </p>
                        </div>
                    </div>
                </div>
                <!--section 2-->
                <div class="col-xs-12 col-sm-6">
                    <div class="card">
                        <a class="img-card" [routerLink]="['../Admin-adddepartment']">
                            <img src="./assets/Images/Groupicon.png" />
                        </a>
                        <div class="card-content" style="text-align:center ;">
                            <h4 class="card-title"><br>
                                Add Department
                            </h4>
                            <p class="">
                                Add a New department !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <app-footer></app-footer>
</div>


