<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>


    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-6">
                        <p><b>From Date : </b>{{drive.fromDate}}</p>
                        <p><b>To Date : </b>{{drive.toDate}} </p>
                        <p><b>Drive Name :</b>{{drive.driveName}} </p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Pool Name : </b>{{drive.drivePool}}</p>
                        <p><b>Department : </b>{{drive.driveDepartment}} </p>
                        <p><b>Mode : </b>{{drive.driveMode}}</p>
                    </div>
                </div>

                <br>
                <div>
                    <form [formGroup]="CancelDriveForm" (ngSubmit)="CancelDrive()">
                        <div class="container "><br>
                            <div class="form-input">
                                <label class="form-label" for="Name">Cancel Reason </label>
                                <input
                                    [class.is-invalid]="(error.length)||(submitted)||CancelDriveForm.controls['cancelReason'].invalid && CancelDriveForm.controls['cancelReason'].touched"
                                    type="text" id="Name" class="form-control " formControlName="cancelReason">
                            </div>
                            <div
                                *ngIf="(submitted)||CancelDriveForm.controls['cancelReason'].invalid && CancelDriveForm.controls['cancelReason'].touched">
                                <span class="text-danger"
                                    *ngIf="CancelDriveForm.controls['cancelReason'].errors?.['required']">*Cancel Reason
                                    is
                                    required</span>
                                <span class="text-danger"
                                    *ngIf="CancelDriveForm.controls['cancelReason'].errors?.['minlength']">*Cancel
                                    Reason is
                                    too short</span>
                            </div>

                            <div *ngIf="response.length!=0">
                                <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-filter">Submit</button>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <app-footer [BackBtn]=true></app-footer>
</div>