<app-tac-header [CurrentNavigationPage]="'HomePage'"></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    

    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-6">
                        <p><b>Date :</b> 10/04/2022</p>
                        <p><b>Drive Name :</b> Freshers2022</p>
                        <p><b>Role :</b> SSE</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Department :</b> .NET</p>
                        <p><b>Mode :</b> Online</p>
                    </div>
                </div>

                <br>
                <div>
                    <div class="container "><br>
                        <h6><b>Cancellation Reason :</b></h6><BR>
                        <div class="form-outline">
               
                            <textarea class="textinput" name="Reason" ></textarea>
                            <br>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-filter">Submit</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>