<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    

    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-6">
                        <p><b>From Date : </b>{{driveDetails.fromDate}}</p>
                        <p><b>To Date :  </b>{{driveDetails.toDate}} </p>
                        <p><b>Drive Name :</b>{{driveDetails.driveName}} </p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Pool Name : </b>{{driveDetails.drivePool}}</p>
                        <p><b>Department : </b>{{driveDetails.driveDepartment}} </p>
                        <p><b>Mode : </b>{{driveDetails.driveMode}}</p>
                    </div>
                </div>

                <br>
                <div>
                    <div class="container "><br>
                        <h6><b>Cancellation Reason :</b></h6><BR>
                        <div class="form-outline">               
                            <textarea class="textinput" name="Reason" [(ngModel)]="Reason" ></textarea>
                            <br>
                        </div>

                        <div class="text-center">
                            <button type="button" (click)="CancelDrive(Reason)" class="btn btn-filter">Submit</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>