<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top py-0">
        <div class="sidebar-toggler flex-shrink-0  collapse-btn ">
            <i class="fa fa-bars fa-bar"></i>
        </div>
        <div class="page-title">
            <h2>Manage Pool</h2>
        </div>
    </nav>
    <!-- Navbar End -->

    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card ">
                        <a class="img-card" [routerLink]="['../createpool']">
                            <img src="./assets/Images/Current.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                Create Pool
                            </h4>
                            <p>
                                Create a new pool
                            </p>
                        </div>
                    </div>
                </div>
                <!--section 2-->
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card ">
                        <a class="img-card" [routerLink]="['../editpool']">
                            <img src="./assets/Images/Scheduled.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                Edit Pool
                            </h4>
                            <p>
                               You can view or remove a particular pool
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card ">
                        
                        <a class="img-card"  [routerLink]="['../managepoolmembers']">
                            <img src="./assets/Images/Upcoming.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                Manage Pool Member
                            </h4>
                            <p>
                                You can add or remove pool members 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>