<footer class="sticky-footer">
    <!-- <div>
        <button class="btn btn-back ">BACK</button>
    </div> -->
    <div class="container-fluid text-light " style="background: #8D599F;">
        <div class="container">
            <div class="row g-0">
                <div class="col text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white ">AIMS</a>. All
                        Rights
                        Reserved.</p>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white">Team Alpha</a><br></p>
                </div>
            </div>
        </div>
    </div>
</footer>