<app-interviewer-header [CurrentNavigationPage]="'DashboardPage'"></app-interviewer-header>

<!-- Sidebar End -->

<div class="content">

    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->

        <div class="container">
            <div class="row" style="padding-top: 15%;">
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card">
                        <div class="card-body">
                            <h1 class="card-title">
                               15
                                <!-- {{item.allinterviews}} -->
                            </h1>
                            <h3 class="">
                                <b>Total No. of Interviews</b>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="card-card">

                        <div class="card-content">
                            <h1 class="card-title">
                                10
                            </h1>
                            <h3 class="">
                                <b>Availability Given</b>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="card-card">

                        <div class="card-content">
                            <h1 class="card-title">
                                8
                            </h1>
                            <h3 class="">
                                <b>Utilized</b>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                  <div class="card-card">

                      <div class="card-content">
                          <h1 class="card-title">
                              2
                          </h1>
                          <h3 class="">
                              <b>Not Utilized</b>
                          </h3>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="card-card">

                    <div class="card-content">
                        <h1 class="card-title">
                            3
                        </h1>
                        <h3 class="">
                            <b>Interviews Ignored</b>
                        </h3>
                    </div>
                </div>
              </div>

            <div class="col-xs-12 col-sm-4">
              <div class="card-card">

                  <div class="card-content">
                      <h1 class="card-title">
                          2
                      </h1>
                      <h3 class="">
                          <b>Interviews Denied</b>
                      </h3>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

