<app-interviewer-header></app-interviewer-header>

<!-- Sidebar End -->

<div class="content">
    <!-- Navbar Start  -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->

        <div class="container">
            <div class="row dashboard">
                <div class="col-xs-12 col-sm-4">
                    <a [routerLink]="['/interviewer/dashboard/totaldrives']" class="link">
                        <div class="card-card">
                            <div class="card-body">
                                <h1 class="card-title">
                                    {{Alldrives}}
                                 </h1>
                                 <h3>
                                    <b>Total No. of Drives</b>
                                 </h3>
                             </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <a [routerLink]="['/interviewer/dashboard/availabilitygiven']" class="link">
                        <div class="card-card">
                            <div class="card-content">
                                 <h1 class="card-title">
                                      {{AvailabilityGiven}}
                                 </h1>
                                 <h3>
                                    <b>Availability Given</b>
                                 </h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <a [routerLink]="['/interviewer/dashboard/utilizedinterviews']" class="link">
                    <div class="card-card">
                        <div class="card-content">
                            <h1 class="card-title">
                                {{Utilized}}
                            </h1>
                            <h3>
                                <b>Utilized</b>
                            </h3>
                        </div>
                    </div>
                     </a>
                </div>

                <div class="col-xs-12 col-sm-4">
                  <a [routerLink]="['/interviewer/dashboard/notutilizedinterviews']" class="link">
                  <div class="card-card">
                      <div class="card-content">
                          <h1 class="card-title">
                              {{NotUtilized}}
                          </h1>
                          <h3 class="">
                              <b>Not Utilized</b>
                          </h3>
                      </div>
                  </div>
                </a>
              </div>

              <div class="col-xs-12 col-sm-4">
                <a [routerLink]="['/interviewer/dashboard/ignoreddrives']" class="link">
                <div class="card-card">
                    <div class="card-content">
                        <h1 class="card-title">
                            {{InterviewsIgnored}}
                        </h1>
                        <h3 class="">
                            <b>Drives Ignored</b>
                        </h3>
                    </div>
                </div>
                </a>
              </div>

            <div class="col-xs-12 col-sm-4">
              <a [routerLink]="['/interviewer/dashboard/denied-drives']" class="link">
              <div class="card-card">
                  <div class="card-content"> 
                      <h1 class="card-title">
                          {{InterviewsDenied}}
                      </h1> 
                      <h3 class="">
                          <b>Drives Denied</b>
                      </h3>
                  </div>
              </div>
              </a>
          </div>
        </div>
    </div>
    <app-footer [BackBtn]="true"></app-footer>
</div>