<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
    <section class="wrapper">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card" [routerLink]="['/tac/current-drive']">
                            <img src="./assets/Images/Current.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title">
                                Current Drives
                            </h2>
                            <p class="">
                                View drives scheduled for you today!
                            </p>
                        </div>
                    </div>
                </div>
                <!--section 2-->
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card" [routerLink]="['/tac/scheduled-drive']">
                            <img src="./assets/Images/Scheduled.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title">
                                Scheduled Drives
                            </h2>
                            <p class="">
                                View your scheduled drives and plan your days!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card-card h-100">
                        <a class="img-card " [routerLink]="['/tac/upcomingDrives']">
                            <img src="./assets/Images/Upcoming.jpg" />
                        </a>
                        <div class="card-content">
                            <h2 class="card-title">
                                Upcoming Drives
                            </h2>
                            <p class="">
                                View drives scheduled for you today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
 
 
    <app-footer></app-footer>
</div>
